package {{package}};

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired
import java.util.Optional;
import javax.annotation.Generated;
{{>generatedAnnotation}}

@Controller
{{=<% %>=}}
<%={{ }}=%>
{{#operations}}
class {{classname}}Controller(
        @Autowired(required = false) delegate: {{classname}}Delegate?
) : {{classname}} {
    private val delegate: {{classname}}Delegate

    init {
        this.delegate = Optional.ofNullable(delegate).orElse(object : {{classname}}Delegate {})
    }

    override fun getDelegate(): {{classname}}Delegate = delegate
}
{{/operations}}
