package {{package}};

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired
import javax.annotation.Generated;
{{>generatedAnnotation}}

@Controller
{{=<% %>=}}
<%={{ }}=%>
{{#operations}}
class {{classname}}Controller(
        @Autowired delegate: {{classname}}Delegate
) : {{classname}} {
    private val delegate: {{classname}}Delegate = delegate

    override fun getDelegate(): {{classname}}Delegate = delegate
}
{{/operations}}
